* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    background-attachment: fixed;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;
    font-family: 'Inter', sans-serif;
}


.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form-description{
    text-align: center;
    margin-bottom: 30px;
    line-height: 2;
    margin-top: 50px;
}

.form-description p{
    width: 80%;
    margin: auto;
    font-weight: 300;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 8px;
    font-size: 1.1rem;
    margin-bottom: 100px;
}

input{
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.options{
   line-height: 1.5;
}

input[type=checkbox]{
    transform: scale(1.2);
    padding: 20px;
}

input[type=radio]{
    transform: scale(1.2);
    padding: 20px;
}

select{
    padding: 8px;
    border-radius: 5px;
    color: rgb(56, 56, 56);
    font-size: 1rem;
}

label{
    margin-bottom: 8px;
    margin-top: 20px;
}

textarea{
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

textarea:focus, input:focus{
    outline: none;
}

#submit-btn{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(79, 160, 79);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: green;
}